In [2]:
from sqlalchemy import create_engine
from dbConnect import dbConfigLocal
import pandas as pd
from urllib.parse import quote_plus

password = quote_plus(dbConfigLocal['password'])
dbURL = f"postgresql+psycopg2://{dbConfigLocal['user']}:{password}@{dbConfigLocal['host']}/{dbConfigLocal['database']}"


def wep():

    try:
        engine = create_engine(dbURL)
        query = """SELECT * FROM users;"""
        df = pd.read_sql(query, engine)
        return df

    except Exception as err:
        print('\n>>> ¡Hubo un error con la conexión!:')
        print(err)

    finally:
        engine.dispose()


df = wep()
df

,id,user,name,position,avatar,hashed_password
0,1,lic,Lic. Costich,Director General,lic,$2b$12$1JykQie2SH8yGNNHUYEPFu1lY7uAksLcuI4B8Yz...

In [4]:
engine = create_engine(dbURL)

query1 = """ SELECT * FROM usuarios """
query2 = """ SELECT * FROM usuarios WHERE usuario = 'Lic' """

with engine.connect() as conn, conn.begin():
    data = pd.read_sql(query2, conn)

data

,id,usuario,estatus,nombre_1ro,nombre_2do,apellido_paterno,apellido_materno,almacen,fecha_nacimiento,fecha_alta,avatar
0,1,Lic,True,Emilio,None,Costich,Pérez,0,1987-05-01,2023-11-13 22:40:42.025832,lic

In [ ]:
with engine.connect() as conn, conn.begin():  
    data = pd.read_sql_table('usuarios', conn)

data

In [9]:
archivo_excel = './datos.xlsx'

db_file = 'wep.db'
SQLALCHEMY_DATABASE_URL = f"sqlite:///./{db_file}"
engine = create_engine( SQLALCHEMY_DATABASE_URL, connect_args={"check_same_thread": False} )
    
df = pd.read_excel(archivo_excel, 'usuarios')

with engine.connect() as conn, conn.begin():  
    df.to_sql(name = 'wep', con = conn, if_exists = 'replace')

In [6]:
archivo_excel = './datos.xlsx'

db_file = 'wep.db'
SQLALCHEMY_DATABASE_URL = f"sqlite:///./{db_file}"

def wep():
    
    df = pd.read_excel(archivo_excel, 'usuarios')

    try:
        engine = create_engine( SQLALCHEMY_DATABASE_URL, connect_args={"check_same_thread": False} )
        df.to_sql(name = 'wep', con = engine.connect(), if_exists = 'replace')

    except Exception as err:
        print('\n>>> ¡Hubo un error con la conexión!:')
        print(err)

    finally:
        engine.dispose()


df = wep()
df